{% extends "base.html" %}

{% block title %}Tekken{% endblock %}

{% block bodyEnd %}
    <!--js fight-->
    <script src="assets\js\fight.js"></script>
{% endblock %}

{% block body %}
    <div class="modal">
        <div class="modal-content has-text-centered">
            <h1 class="title" id="title"></h1>
            <br>
            <a class="button is-primary" id="modal-confirm">OK</a>
        </div>
    </div>
    <div class="container">
        <div id="damage">-50hp</div>
        <div class="columns">
            <div class="column">
                <img src="https://picsum.photos/400/500" id="my-image" class="img-center" alt="" srcset="">
                <h1 id="my-hp" class="fight-stats mt-3">100%</h1>
                <progress id="my-hp-progress" class="progress is-danger progres-75" value="100" max="100">100%</progress>
                <h1 id="my-manna" class="fight-stats">100%</h1>
                <progress id="my-manna-progress" class="progress is-info progres-75" value="100" max="100">100%</progress>
            </div>
            <div class="column">
                <img src="https://picsum.photos/400/500" id="target-image" class="img-center" alt="" srcset="">
                <h1 id="target-hp" class="fight-stats mt-3">100%</h1>
                <progress id="target-hp-progress" class="progress is-danger progres-75" value="100" max="100">100%</progress>
                <h1 id="target-manna" class="fight-stats">100%</h1>
                <progress id="target-manna-progress" class="progress is-info progres-75" value="100" max="100">100%</progress>
            </div>
        </div>
        <div class="fight-skills">
            <div class="skills">
                <div class="skill" >
                    <img class="skill-effect" id="skill-1" alt="" srcset="">
                </div>
                <div class="skill" >
                    <img class="skill-effect" id="skill-2" alt="" srcset="">
                </div>
                <div class="skill" >
                    <img class="skill-effect" id="skill-3" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
