{% extends "base.html" %}

{% block title %}Tekken-Statystyki{% endblock %}


{% block bodyEnd %}
    <!--js equipment-->
    <script src="assets\js\equipment.js"></script>
{% endblock %}

{% block body %}

    <div class="modal">
        <div class="modal-content has-text-centered">
            <h1 class="title" id="title">asdasd</h1>
            <p class="is-size-4	">Ten przedmiot daje: <span id="element-requires"></span> </p>
            <br>
            <a class="button is-primary" id="modal-confirm">OK</a>
            <a class="button is-danger" id="modal-dismiss">Anuluj</a>
        </div>
    </div>

    <div class="equipment-container">
        <h1 class="equipment-title">Ekwipunek</h1>
        <div class="equipment">
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div> 
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div>
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div> 

        </div>
    </div>
{% endblock %}