{% extends "base.html" %}

{% block title %}Tekken-Statystyki{% endblock %}

{% block body %}
    <div class="equipment-container">
        <h1 class="equipment-title">Ekwipunek</h1>
        <div class="equipment">
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div> 
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div>
            <div class="columns">
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
                <div class="column equipment-col"></div>
            </div> 

        </div>
    </div>
{% endblock %}