{% extends "base.html" %}

{% block title %}Tekken-Statystyki{% endblock %}

{% block body %}
    <div class="container select-hero-center">
        <div class="columns">
            <div class="column is-8">
                <div class="skills">
                    <img src="https://picsum.photos/50/50"  class="skill-7" alt="" srcset="">
                    <img src="https://picsum.photos/50/50"  class="skill-6" alt="" srcset="">
                    <img src="https://picsum.photos/50/50"  class="skill-5" alt="" srcset="">
                    <img src="https://picsum.photos/50/50"  class="skill-4" alt="" srcset="">
                    <img src="https://picsum.photos/50/50"  class="skill-3" alt="" srcset="">
                    <img src="https://picsum.photos/50/50"  class="skill-2" alt="" srcset="">
                    
                    <img src="https://picsum.photos/50/50"  class="skill-1" alt="" srcset="">
                </div>
                
            </div>
            <div class="column is-4">
              
            </div>
        </div>
        
    </div>
{% endblock %}