{% extends "base.html" %}

{% block title %}Tekken-Statystyki{% endblock %}


{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                        <img src="assets/images/skills/attack-l5.png" alt="" srcset="">
                    </div>
                    <div class="skill-card">
                        <img src="assets/images/skills/attack-l4.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                            <img src="assets/images/skills/def-l6.png" alt="" srcset="">
                    </div> 
                    <div class="skill-card">
                            <img src="assets/images/skills/def-l5.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                        <img src="assets/images/skills/spell-l5.png" alt="" srcset="">
                    </div>
                    <div class="skill-card">
                        <img src="assets/images/skills/spell-l4.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                        <img src="assets/images/skills/attack-l2.png"  alt="" srcset="">
                    </div>
                    <div class="skill-card">
                            <img src="assets/images/skills/attack-l3.png"  alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                            <img src="assets/images/skills/def-l4.png" alt="" srcset="">
                    </div> 
                    <div class="skill-card">
                            <img src="assets/images/skills/def-l3.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column"> 
                <div class="skill-center">
                    <div class="skill-card">
                        <img src="assets/images/skills/spell-l3.png" alt="" srcset="">
                    </div>
                    <div class="skill-card">
                        <img src="assets/images/skills/spell-l2.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"> 
                <div class="skill-center-last">
                    <div class="skill-card">
                        <img src="assets/images/skills/attack-l1.png"  alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column"> 
                <div class="skill-center-last">    
                    <div class="skill-card">
                        <img src="assets/images/skills/def-l2.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="column ">
                <div class="skill-center-last"> 
                    <div class="skill-card">
                        <img src="assets/images/skills/spell-l1.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}