{% extends "base.html" %}

{% block title %}Tekken{% endblock %}

{% block body %}
    <div class="container select-hero-center">
        <div class="columns">
            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Wojownik</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="15" max="100">15%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="45" max="100">45%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                </div>
            </div>

            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Wojownik</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="15" max="100">15%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="45" max="100">45%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Paladyn</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="15" max="100">15%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="45" max="100">45%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Wojownik</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="15" max="100">15%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="45" max="100">45%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Wojownik</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="15" max="100">15%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="45" max="100">45%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
