{% extends "base.html" %}

{% block title %}Tekken{% endblock %}

{% block body %}
    <div class="container select-hero-center">
        <div class="columns">
            <div class="column">
                <div class="box hero-card">
                    <img src="assets/images/heros/portrait/wojownik.png" class="hero-img" alt="">
                    <h2 class="hero-title">Wojownik</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="30" max="100">30%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="10" max="100">10%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="75" max="100">75%</progress>
                    <form action="select-hero" method="get">
                        <input type="hidden" name="heroSelected" value="0">
                        <button type="submit" class="button is-primary">Wybierz</button>
                    </form>

                </div>
            </div>

            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Mag</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="30" max="100">30%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="40" max="100">40%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="70" max="100">70%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="40" max="100">40%</progress>
                    <form action="select-hero" method="get">
                        <input type="hidden" name="heroSelected" value="1">
                        <button type="submit" class="button is-primary">Wybierz</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="https://picsum.photos/200/300" class="hero-img" alt="">
                    <h2 class="hero-title">Paladyn</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="90" max="100">90%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="50" max="100">50%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="25" max="100">25%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="30" max="100">30%</progress>
                    <form action="select-hero" method="get">
                        <input type="hidden" name="heroSelected" value="2">
                        <button type="submit" class="button is-primary">Wybierz</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="assets/images/heros/portrait/nieumarły.png" class="hero-img" alt="">
                    <h2 class="hero-title">Nieumarły</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="50" max="100">50%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="50" max="100">50%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="30" max="100">30%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="40" max="100">40%</progress>
                    <form action="select-hero" method="get">
                        <input type="hidden" name="heroSelected" value="3">
                        <button type="submit" class="button is-primary">Wybierz</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box hero-card">
                    <img src="assets/images/heros/portrait/ninja.png" class="hero-img" alt="">
                    <h2 class="hero-title">Ninja</h2>
                    <h4 style="margin-top: 10px;">Życie</h4>
                    <progress class="progress is-danger" value="30" max="100">30%</progress>
                    <h4>Obrażenia</h4>
                    <progress class="progress" value="70" max="100">70%</progress>
                    <h4>Manna</h4>
                    <progress class="progress is-info" value="40" max="100">40%</progress>
                    <h4>Obrona</h4>
                    <progress class="progress is-warning" value="10" max="100">10%</progress>
                    <form action="select-hero" method="get">
                        <input type="hidden" name="heroSelected" value="4">
                        <button type="submit" class="button is-primary">Wybierz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
