
/* MAIN */

body{
    font-family: 'Roboto Slab', serif; 
    background-color: #EEEEEE;
    height: 100vh;
   /* background-image: url("/Tekken/assets/images/Equipment.jpg");*/
}



/* MENU */
.navBar{
    padding: 0 25px;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    background-color: #202124;
    -webkit-box-shadow: 0px 3px 27px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 27px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 27px 0px rgba(0,0,0,1);
}

.navTitle{
    line-height: 60px;
    color: whitesmoke;
}

.tekken-menu{
    display: flex;
    height: 100%;
    width: auto;
}
.navTitle .link{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 25px;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

.navTitle:hover{
    color: #ffffff
}

.tekken-menu .link{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 25px;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: all .7s;
}

.tekken-menu .link::after{
    content: '';
    height: 2px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0; 
    width: 0;
    margin: 0 auto;
    transition: width .5s;
    background-color: #388E3C;
}
.tekken-menu .link:hover::after{
    width: 75%;
}

/* END MENU */

/* SELECT HERO */
.select-hero-center{
    margin-top: 50px;
}


.hero-card .hero-title{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

.hero-card .hero-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.hero-card .hero-statistics{
    text-align: left;
    font-size:  15px;
    font-weight:500;

}
/* END SELECT HERO */

/* Skills */ 
.skill-card{
    background-color: #202124;
    height: 250px;
    width: 150px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.skill-card img {
    display: block;
    margin-top: 50px;
    filter: brightness(0) invert(1);
    padding: 0 10px;
}

.skill-card::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color:  #388E3C;
}
.skill-card::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color:  #388E3C;
    bottom: 0;
    left: 0;
}
.skill-center{
    margin-left: 10%;
}
.skill-center-last{
    margin-left: 30%;
}


/* Equipment */

.equipment-container{
    width: 70vw;
    margin: 50px auto 0 auto;
    background-color: #202124;
    border-radius: 5px;
    border: 5px solid #202124;
}

.equipment-title{
    color: white;
    font-size: 25px;
    padding: 10px 0 0 20px;
}
.equipment{
    background-color: bisque;
    width: 100%;
    margin: 10px auto 0 auto;
}
.equipment-col{
    border: 2px solid #202124;
    height: 200px;
}
.equipment > .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/*Fight*/
.img-center{
    display: block;
    margin: 0 auto;
}

.fight-stats{
    font-size: 30px;
    text-align: center;
}
.progres-75{
    width: 75%;
    margin: 0 auto;
}
.mt-3{
    margin-top: 20px;
}

.fight-skills{
    width: 50%;
    height: 90px;
    background-color: #202124;
    margin: 0 auto;
    border-radius: 20px;
}
.fight-skills .skill{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
.fight-skills .skill img{
    border-radius: 100%;
}
.fight-skills .skills{
    margin: 0 auto;
    width: 450px;
}
.skill-effect{
    transition: all 0.5s;
}
.skill-effect:hover{
    border: 5px solid #388E3C;
}

/*Statistics*/

.statistics-title{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: #388e3c;
}